* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #facc15;   
  --primary-dark: #ad8407;    
  --primary-light: #fef9c3;   
  --bg-dark: #1a1a1a;         
  --card-bg: #252525;         
  --text-light: #f3f4f6;      
  --text-gray: #9ca3af;       
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.3);
  --border-radius: 10px;
}